.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .popupBox {
    background-color: #fff;
    width: 80%;
    max-width: 800px;
    height: 100vh;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
  }
  
.header {
    display: flex;
    justify-content: flex-end; /* Change this to 'flex-end' to align the close button to the right */
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #e0e0e0;
    position: relative; /* Add this to position the close button relative to the header */
  }
  
  .closeButton {
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #999;
    transition: color 0.3s ease;
    position: absolute; /* Add this to position the close button */
    top: 16px; /* Adjust the top position as needed */
    right: 16px; /* Adjust the right position as needed */
  }
  
  .pdfContainer {
    flex: 1;
    overflow-y: hidden;
    padding: 16px;
    padding-left: 13%; /* Add left padding to move the PDF slightly to the right */
  }
  
  .pdfPage {
    width: 100%;
    height: 100%;
    border: none;
  }
  
  .noFileMessage {
    text-align: center;
    color: #888;
  }
  
  .footer {
    padding: 8px 16px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
  }