.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.contentContainer {
  display: flex;
  flex: 1;
  position: relative;
  z-index: 20;
  max-height: 100vh;
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.outputContainer {
  flex: 1;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  overflow-y: auto;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  margin-top: 1px;
  height: calc(100vh - 100px);
}

.uploadSection {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 245, 245, 0.8);
  padding: 1rem;
  width: 80%;
  border-radius: 0 0 30px 30px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 20;
  margin-left: 15%;
  max-height: 150px;
  overflow: hidden;
  box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.1);
}

.statusMessage {
  font-size: 24px;
  font-weight: bold;
  color: #888;
  text-align: center;
  margin: auto;
}

.outputSubheading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.sentenceWithTooltip {
  position: relative;
}

.sentenceWithTooltip::before {
  content: attr(data-tooltip);
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.sentenceWithTooltip:hover::before {
  opacity: 1;
}



.uploadInputContainer {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.fileInput {
  display: none;
}

.fileInputLabel,
.processButton {
  appearance: none;
  background-color: transparent;
  border: 2px solid #888;
  color: #888;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Montserrat';
  border-radius: 20px;
}

.fileInputLabel:hover,
.processButton:hover {
  background-color: #F0F0F0;
  color: #555;
}

.processButton:disabled {
  background-color: transparent;
  color: #ccc;
  cursor: not-allowed;
  border-color: #ccc;
}


.processButton:hover {
  background-color: #777;
}

.processButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.tippyContent {
  font-size: 12px;
  line-height: 1.4;
}

.tippyContent p {
  margin: 4px 0;
}

.tippyTitle {
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
  font-size: 14px;
}

.tippyTooltip .tippy-box {
  background-color: #ce0e0e;
  color: #333;
  border-radius: 4px;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  border: 1px solid #ccc;
}

.tippyTooltip .tippy-arrow {
  color: #f5f5f5;
}

.outputHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: 'Montserrat';
  color: #888;
  width: 100%;
  position: relative;
}

.dropdownContainer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  gap: 10px;
}

.scriptDropdown,
.modelDropdown {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.scriptDropdown::after,
.modelDropdown::after {
  content: '▼';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #888;
  pointer-events: none;
  font-size: 0.7em;
  font-family: 'Montserrat';
}

.scriptSelect,
.modelSelect {
  appearance: none;
  background-color: transparent;
  border: none;
  color: #888;
  padding: 10px 40px 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Montserrat';
  width: 100%;
  box-sizing: border-box;
  border-radius: 20px;
  border: 2px solid #888;
}

.scriptSelect:hover,
.modelSelect:hover {
  background-color: #F0F0F0;
  color: #555;
}

.scriptSelect:focus,
.modelSelect:focus {
  outline: none;
}

.scriptSelect option,
.modelSelect option {
  background-color: #fff;
  color: #333;
}


.tocSection {
  white-space: pre-wrap;
  font-family: monospace;
  line-height: 1.5;
  margin-bottom: 3rem;
  margin-left: 220px;
  margin-top: 3rem;
}

.tocSection h1,
.tocSection h2,
.tocSection h3 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.tocSection p {
  margin: 0;
}

.tocSection ul {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-left: 1.5rem;
}

.processOutput {
  white-space: pre-wrap;
  line-height: 1.5;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.processOutput .clickableSentence {
  cursor: pointer;
  display: inline;
}

.processOutput .clickableSentence:hover {
  text-decoration: underline;
}

.processOutput br {
  content: "";
  display: block;
  margin-top: 1rem;
}

.outputContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-top: 10px; /* Add padding to the top to move the buttons lower */
}

.analysisButtonsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  margin-top: 450px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.analysisButton {
  background-color: transparent;
  border: none;
  color: #888;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Montserrat';
  border-radius: 0;
}

.analysisButton:hover {
  background-color: #F0F0F0;
  color: #555;
}

.analysisButton.selected {
  background-color: #888;
  color: #FFFFFF;
}

.uploadForm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}


.collapsibleButton {
  appearance: none;
  background-color: transparent;
  border: 2px solid #888;
  color: #888;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Montserrat';
  border-radius: 20px;
  width: 100%;
  margin-bottom: 10px;
}

.collapsibleButton:hover {
  background-color: #F0F0F0;
  color: #555;
}

.collapsibleContent {
  margin-left: 20px;
  margin-bottom: 20px;
}

.displayedContentArea,
.displayedSavedResponseArea {
  width: 100%;
}